@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/static/Outfit-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/static/Outfit-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Young Serif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}


body {
    font-family: "Outfit";
    background-color: hsl(30, 54%, 90%);
    color: hsl(24, 5%, 18%);
}

main {
    background-color: hsl(0, 0%, 100%);
    width: 525px;
    height: 100%;
    padding: 25px;
    border-radius: 15px;
    margin: 100px auto;
}

img {
    width: 525px;
    border-radius: 8px;
}

h1, h2 {
    font-family: "Young Serif";
}

h2 {
    color: hsl(14, 45%, 36%);
}