@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/static/Outfit-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/static/Outfit-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Young Serif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}


body {
    font-family: "Outfit";
    background-color: hsl(30, 54%, 90%);
    color: hsl(24, 5%, 18%);
}

main {
    background-color: hsl(0, 0%, 100%);
    width: 525px;
    height: 100%;
    padding: 25px;
    border-radius: 15px;
    margin: 100px auto;
}

img {
    width: 525px;
    border-radius: 8px;
}

h1, h2 {
    font-family: "Young Serif";
}

h2 {
    color: hsl(14, 45%, 36%);
}

#preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 25px;
}

#preparation h3 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 15px !important;
}

#preparation h3,
#preparation ul {
    margin: 0;
}

#preparation ul {
    padding-left: 0;
    margin-left: 25px;
}

#preparation li:not(:last-of-type) {
    margin-bottom: 12px;
}

* {
    border: 1px solid black;
}

#preparation li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 12px;
    padding-right: 100px;
}